.add-new-button{
    padding-left: 13px;
}

.panel-height{
    height: 300px;
}

.margined{
    padding-bottom: 20px;
}

.marginedtop{
    padding-top: 20px;
}

#inline{
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;

    column-width: 70px;
    -webkit-column-width: 70px;
    -moz-column-width: 70px;

    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;

    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;

    -webkit-column-rule-color: LightSeaGreen;
    -moz-column-rule-color: LightSeaGreen;
    column-rule-color: LightSeaGreen ;

    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

#inline li{
    display: inline-block;
}

#inlined{
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;

    column-width: 70px;
    -webkit-column-width: 70px;
    -moz-column-width: 70px;

    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;

    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;

    -webkit-column-rule-color: LightSeaGreen;
    -moz-column-rule-color: LightSeaGreen;
    column-rule-color: LightSeaGreen ;

    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

#inlined li{
    display: inline-block;
}

.bottomaligned{
    position: relative;
    top: 180px;
    bottom: 0;
    left: 100px;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 10px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
}

/* Next button */
.month .next {
    float: right;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 9%;
    color: #666;
    text-align: center;
    font-size: 12px;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 9%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

