<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employees</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">

                        <h2>Employees</h2>

                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-5 add-new-button">
                            <a href="#" class="btn btn-info btn-md" role="button" th:href="@{'/new_employee'}">Add new employee</a>
                        </div>

                        <div class="col-md-7">
                            <h4 class="text-left" th:text="${currentDate}">Data</h4>
                        </div>

                    </div>

                    <div class="table-responsive" th:if="${not #lists.isEmpty(workdayForm.workdayCommands)}">

                        <form th:object="${workdayForm}" th:action="@{/addworkday}">

                            <table class="table table-hover ">

                            <thead class="thead-inverse">
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">Address</th>
                                <th class="col-md-2">Contact</th>
                                <th class="col-md-2">Hours today</th>
                                <th class="col-md-2">Adv. Payments</th>
                                <th class="col-md-1">Edit</th>
                                <th class="col-md-1">Delete</th>
                            </tr>
                            </thead>

                            <tr th:remove="all">
                                <td>Marian Kowalski</td>
                                <td>Oak Street 13, London</td>
                                <td>234-234-234</td>
                                <td><input type="text" class="form-control" placeholder="Enter hours"></td>
                                <td><input type="text" class="form-control" placeholder="Enter payment"></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>

                            <tr th:remove="all">
                                <td>Rysiulek Lewandosiulek</td>
                                <td>Gold Street 182, Birmingham</td>
                                <td>234-234-234</td>
                                <td><input type="text" class="form-control" placeholder="Enter hours"></td>
                                <td><input type="text" class="form-control" placeholder="Enter payment"></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>

                            <tr th:each="workdayCommand, i : ${workdayForm.workdayCommands}">
                                <td><a href="#" role="button" th:href="@{'/employee/' + ${workdayCommand.employee.id}}" th:text="${workdayCommand.employee.name}">Krzychu Żychniewicz</a></td>
                                <td th:text="${workdayCommand.employee.address}">Maven Street 10, Glasgow</td>
                                <td th:text="${workdayCommand.employee.contact}">999-999-999</td>
                                <td><input type="text" class="form-control" placeholder="Enter hours" th:field="*{workdayCommands[__${i.index}__].hoursWorked}">
                                    <input type="hidden" th:field="*{workdayCommands[__${i.index}__].employeeId}"/></td>
                                <td><input type="text" class="form-control" placeholder="Enter payment" th:field="*{workdayCommands[__${i.index}__].advancePayment}"></td>
                                <td><a href="#" th:href="@{'/employee/' + ${workdayCommand.employee.id} + '/edit'}">Edit</a></td>
                                <td><a href="#" th:href="@{'/employee/' + ${workdayCommand.employee.id} + '/delete'}">Delete</a></td>
                            </tr>

                        </table>

                            <div class="row">
                                <div class="col-md-3 col-md-offset-6">
                                    <td><input type="submit" class="btn btn-info" value="Submit" th></td>
                                    <td><input type="reset" class="btn btn-info" value="Clear"></td>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/main'}">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>

</html>