<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

    <<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Company management system</h3>
                </div>
                <div class="panel-body">

                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="row">
                                <h3 class="text-center">Employee Management</h3>
                            </div>
                            <div class="row text-center">
                                <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/employees'}">Click</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="row">
                                <h3 class="text-center">Important Notes</h3>
                            </div>
                            <div class="row text-center">
                                <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/employees'}">Click</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-primary ">
                            <div class="row">
                                <h3 class="text-center">Orders Management</h3>
                            </div>
                            <div class="row text-center">
                                <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/employees'}">Click</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-body">
                    Panel Content 2
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    Panel Content 3
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>

</html>