<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Company management system</h2>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <h4 class="text-center" th:text="${currentDate}">Data</h4>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-primary panel-height">
                            <div class="row">
                                <h4 class="text-center">Employee Management</h4>
                            </div>
                            <div class="image">
                                <img src="../../static/images/employees-icon.png"
                                     th:src="@{/images/employees-icon.png}"
                                     width="150" height="150">
                            </div>
                            <div class="bottomaligned">
                                <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/employees'}">Click</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="panel panel-primary panel-height">
                            <div class="row">
                                <h4 class="text-center">Important Notes</h4>
                            </div>
                            <div class="image">
                                <img src="../../static/images/to-do-list-icon.png"
                                     th:src="@{/images/to-do-list-icon.png}"
                                     width="150" height="150">
                            </div>
                            <div class="bottomaligned">
                                <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/employees'}">Click</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-primary panel-height">
                            <div class="row">
                                <h4 class="text-center">Orders Management</h4>
                            </div>
                            <div class="image">
                                <img src="../../static/images/orders-icon.png"
                                     th:src="@{/images/orders-icon.png}"
                                     width="150" height="150">
                            </div>
                            <div class="bottomaligned">
                                <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/employees'}">Click</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>