<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>concreteEmployee</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h2 th:text="${employee.name}">concreteEmployee</h2>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4 well">
                            <h4><strong>Address</strong></h4>
                            <h5 th:text="${(employee.address)}">Oak Street 15, London</h5>
                        </div>
                        <div class="col-md-4 well">
                            <h4><strong>Contact</strong></h4>
                            <h5 th:text="${employee.contact}">444-555-666</h5>
                        </div>
                        <div class="col-md-4 well">
                            <h4><strong>Wage</strong></h4>
                            <h5 th:text="${employee.wage}">20 zl/h</h5>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">

                    <h2 class="text-center margined"><strong>Work hours</strong> </h2>

                    <div class="row margined">
                        <div class="month">
                            <form  th:action="@{'/employee/' + ${employee.id}}" method="post">
                                Choose a month:
                                <input type="month" name="date">
                                <input type="submit">
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <ul id="inlined">
                            <li th:remove="all">2014-12-12</li>
                            <li th:remove="all">1 Teaspoon of chocolate</li>
                            <li  th:each="workday : ${employee.workdays}" th:if="${workday.hoursWorked != null}"
                                 th:text="${(workday.getDate() + ' - ' + workday.getHoursWorked())}">1 Teaspoon of Sugar</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">

                    <h2 class="text-center margined"><strong>Advance payments</strong></h2>

                    <ul id="inline">
                        <li th:remove="all">2014-12-12</li>
                        <li th:remove="all">1 Teaspoon of chocolate</li>
                        <li  th:each="workday : ${employee.workdays}" th:if="${workday.advancePayment != null}"
                            th:text="${(workday.getDate() + ' - ' + workday.getAdvancePayment())}">1 Teaspoon of Sugar</li>
                    </ul>

                </div>
            </div>

            <div class="panel panel-primary">
                    <div class="panel-footer">
                        <a href="#" class="btn btn-primary btn-lg" role="button" th:href="@{'/employees'}">Back</a>
                    </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>